---
import PostCard from "@/components/PostCard.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import { getPosts } from "@/utils/content-utils";

const posts = await getPosts();
const latestPosts = posts.slice(0, 6);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<section>
		<h1 class="mb-8 text-4xl font-bold">Recent Posts</h1>
		<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
			{
				latestPosts.map((post) => (
					<div class="col-span-1">
						<PostCard {post} />
					</div>
				))
			}
		</div>
	</section>
</Layout>


